body{
    background-color: black;
}
h1, p{
    color: white;
}
hr{
    border-color: white;
}
.logo-div{
    height: 300px;
    margin-top: 4rem;
}
#logo-image{
    max-height: 180px;
    max-width: 180px;
}