body{
    background-color: black;
}
h1, h2, p{
    color: white;
}
hr{
    border-color: white;
}
.logo-div{
    height: 300px;
    margin-top: 4rem;
}
#logo-image{
    max-height: 180px;
    max-width: 180px;
}
.main-section{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    align-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.top-section{
    width: 30rem;
    height: 20rem;
    border: 1px solid yellow;
    background-color: blue;
    flex-grow: 0;
}
.space{
    height: 100px;
}
.navbar-toggler{
    color: white;
    background-color: white;
}